Avoid wide reduction in P-256 and P-384 RandomScalar

Currently, an implementation of P-256 and P-384 QSF hybrids needs a wide reduction implementation to reduce a 48 or 72 byte value to a scalar. This is not obviously available in implementations.

Note that when used in HPKE this is also inconsistent with how pure P-256 and P-384 keys are derived in DHKEM, which uses rejection sampling in DeriveKeyPair (RFC 9180 Section 7.1.3).

I think there are arguments both for rejection sampling and for wide reduction, but having *both* in a HPKE implementation for the same curve is annoying. Since rejection sampling is fixed in RFC 9180, I suggest we change RandomScalar in this draft.

Normally, the annoyance of rejection sampling is introducing a XOF or DRBG or KDF or whatever, which DHKEM solves with a built-in KDF, but here the RandomScalar input is already an arbitrary sized uniform PRG output from expandDecapsulationKey, so we can just request a "seed" which is wide enough to bring the probability of rejection down to the security level.

For P-256, that means a Nseed of 128, since the probability of rejection is [< 2⁻³²](https://www.wolframalpha.com/input?i=log2%281+-+115792089210356248762697446949407573529996955224135760342422259061068512044369+%2F+2%5E256%29) and the security level is 128 bits-ish.

The RandomScalar algorithm would be to try seed[:32] and return it if < q, otherwise try seed[32:64], otherwise seed[64:96], otherwise seed[96:], otherwise fatal.

For P-384, that means Nseed of 48, since the probability of even a single rejection is [< 2⁻¹⁹⁴](https://www.wolframalpha.com/input?i=log2%281+-+39402006196394479212279040100143613805079739270465446667946905279627659399113263569398956308152294913554433653942643+%2F+2%5E384%29).

We will need to specify that the RandomScalar input needs to be uniformly distributed, but since it's only ever a PRG output, I don't expect that will be a problem.

What do folks think?

>  This is not obviously available in implementations.

Given a 48 byte scalar s, split it as `s = a 2^256 + b`, where `b<2^256`. Clearly `s mod p = (a mod p) (2^256 mod p) + (b mod p)`. Hardcoding (2^256 mod p), you only need the existing reduction mod p, and splitting. I'd say this is not too hard at all, and easier to test than rejection sampling.

> I think there are arguments both for rejection sampling and for wide reduction, but having both in a HPKE implementation for the same curve is annoying. 

It's ideal to stick to one method of sampling a scalar. That also means that having two different ways to do rejection sampling is not ideal. To stick with DHKEM's rejection sampling, we need to import HPKE idiosyncratic Extract/Expand and labelling. Also we need to pass that label correctly. That seems way too messy.

Given wide reduction is easier to specify and test, I'd prefer that.

On the one hand, given that HPKE is a major target here, I agree that we should reuse algorithms from there as much as possible.  On the other hand, if we're going to deviate enough that actual code reuse won't work, we might as well do a simpler thing.

I'm not thrilled about either approach to rejection sampling.  Requiring a KDF/PRG is gross, but expanding the seed is also a little distasteful because it gets away from the idea that the seed is proportional the security level.

[Bad idea: You don't need N*256 bits to generate N candidates.  You could do N+256 bits, just shifting bitwise.  Or just use 256 bits and rotate them.  Why did we use a PRG in the first place?]

If you adopt the "don't care about keygen" approach in https://github.com/cfrg/draft-irtf-cfrg-hybrid-kems/issues/77, we could actually punt this to the HPKE layer.  Hybrid KEM just cares that it gets two keys for the component algorithms, then HPKE could define the specific derivation scheme.

That gets us back to the RNG || expanded-key dichotomy.  Thinking on this a bit further, I think the RNG version could work OK.  We could define the group not as `P256`, but as `P256+SHA3_256`, and then we can use use the hash function to make new candidates however we like.

This PR on the generic document might help:

https://github.com/cfrg/draft-irtf-cfrg-hybrid-kems/pull/91